/* Estilos para el encabezado */
header {
    background-color: #f0ecc0;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  /* Estilos para el formulario */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="num"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los resultados de los cálculos */
  section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el botón de cálculo */
  button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #0059b3;
  }
  